body {
	background: #ddd;
}

#game-container {
	display: inline-block;
	position: relative;
}

.wrapper {
	position: absolute;
	display: grid;
	grid-template-columns: 120px 120px 120px;
	grid-template-rows: 120px 120px 120px;
	grid-gap: 20px;
}
.box {
	border: 1px solid black;
	background: white;
	text-align: center;
}

#crossingLine {
	height: 400px;
	width: 400px;
	top: 0;
	left: 0;
	position: absolute;
}